
/*----------Tags---------------*/

h1{
    background-color: blueviolet;
    border-radius: 30px;
    padding: 10px;
    color: white;
}


img{
    width: 50%;
    margin: 15px;
}

footer{
    display: flex;
    align-items: center;
}