body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 240, 240);
    margin: 10px 80px;
}

main h1 {
    font-size: 50px;
    background-color: darkslateblue;
    color: white;
    text-align: center;
    font-family: sans-serif;
    padding: 20px;
    margin: 0px;
    text-transform: uppercase;
    border-radius: 20px;
}

p {
   -webkit-margin-before: 1em;
   -webkit-margin-after: 1em;
}

aside{
    background-color: darkslateblue;
    color: white;
    text-align: center;
    font-family: sans-serif;
    padding: 20px;
    margin: 0px;
    padding: 30px;
    float: right;
    box-sizing: border-box;
    clear: right;
}
aside nav h1{
    text-align: center;
    /*padding-left: 1.8em;*/
   
}
h2 {
    font-size: 30px;
    font-family: sans-serif;
    margin: 30px;
}
li{
    font-family: Arial, Helvetica, sans-serif;
    /*font-weight: bold;*/
    color: white;
    list-style-type: none;
}
aside li{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    list-style-type: none;
    box-sizing: border-box;
}
main h2{
    text-align: left;
    list-style-type:none;
    clear: both;
}
blockquote{
    background-color: rgb(190, 190, 190);
    padding: 20px;
    border: 10px #707070 solid;
    width: 280px;
    box-sizing: border-box;
    margin: 0px;
    border-radius: 10px;
}
aside h1{
    text-align: center;
    font-size: 30px;
    margin: 0px;
    line-height: 1.1em;
}
span{
    line-height: 1.9em;
    font-size: 30px;
}

main{
    float: left;
}

    /*float: left;*/
/*
.icones-sociais a{
    
    display: inline-block;
    text-indent: -99999px;
}

.github {
    background-image: url(github.png);
    background-size: cover;
    background: no-repeat;
}

.facebook {
    background-image: url(fabebook.png);
}

.linkedin {
    background-image: url(linkedin.png);
}
*/
footer{
    padding: 0.1px;
    /*font-weight: bold;*/
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(97, 126, 163);
    clear: both;
    text-align: left;
    margin: 0px;
}

/*----------------------------------------- CLASSES--------------------------------------------------*/

.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.circle:hover
{
        border-radius:50%;
}

.experiencia-rojemac{
    float: left;
}

.icones-sociais li{
    display: inline-block;
}

.foto-curriculum{
    border-radius: 10px;
}

.links-navegadores{
    border-radius: 10px;
    width: 500px;
}

a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.float-banner {
    position: -ms-page;
    left: 50%;
    width: 200px; height: 200px;
    margin-top: 200px; margin-left: -200px;
}

.dados-pessoais li{
    text-align: center;
    color: black;
}

.descr-conteudo{
    text-align: justify;
}
.container{
    margin: 10px 0px 10px 10px;
    float:50px;
}
